<textarea
  hx-post="/process-markdown"
  hx-trigger="input, click from:#SecondaryNoteLoader"
  hx-swap="innerHTML"
  hx-target="#view-mode"
  hx-include="[name='noteID']"
  name="markdownText"
  class="block w-full p-12 text-sm focus:outline-none border-x-2 bg-neutral-900 text-white placeholder-gray-400 resize-none h-full"
>
{{MARKDOWN}}
</textarea>
<input type="hidden" name="noteID" value="{{ID}}" />

<div
  class="leading-loose text-sm p-12 col-span-5"
  id="view-mode"
  hx-swap-oob="true"
>
  {{RENDERED|safe}}
  <br />
  <br />
  <br />
  <h1>Most Related Notes</h1>
  <div class="flex flex-col">
    <div class="-m-1.5 overflow-x-auto">
      <div class="p-1.5 min-w-full inline-block align-middle">
        <div class="overflow-hidden">
          <table class="min-w-full divide-y divide-gray-200">
            <thead>
              <tr class="text-xs text-violet-100 font-extrabold uppercase">
                <th scope="col" class="px-6 py-3 text-start">Note</th>
                <th scope="col" class="px-6 py-3 text-start">
                  Degree Of relation
                </th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200">
              {% for note in VERTICES %}
              <tr class="text-sm text-violet-100">
                <td class="px-6 py-4 whitespace-nowrap">{{note}}</td>
                <td class="px-6 py-4 whitespace-nowrap">{{VERTICES[note]}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
